.viewPort {
  width: 40vw;
  height: 100vh;
  padding: 36vh 5vw;
}

.segment {
  display: inline-block;
}

.viewPort.top {
  margin: 0 auto;
  position: relative;
}

.subTitle {
  margin-top: 1rem;
  color: #888;
}

.logo {
  width: 100%;
  height: 100px;
  position: relative;
}

.copy {
  margin-bottom: 3rem;
  text-align: center;
font-size: 1.2rem;
}

.pageLinkContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.link {
  position: absolute;
  bottom: 10rem;
  left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: flex-end;
  pointer-events: auto;
}

.pageLink {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  transition: all ease 0.5s;
  &::before {
    content: "";
    position: absolute;
    top: 0.6rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--green);
  }
}
.pageLink:hover {
  filter: blur(0.5px);
}

.animationWrapper {
  position: absolute;
  bottom: 6rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .viewPort {
    width: 60vw;
  }

  .link {
    margin-bottom: 2rem;
  }

  .pageLink {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .viewPort {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
  }
  .copy {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .subTitle {
    margin-top: 0;
    font-size: 0.8rem;
    text-align: left;
  }
  .logo {
    width: 90%;
  }
  .link {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 0;
    gap: 0.6rem;
    bottom: 30vh;
  }

  .pageLink {
    font-size: 1rem;
    &::before {
      top: 0.3rem;
    }
  }

  .animationWrapper {
    justify-content: flex-end;
  }
}

.viewPort.bottomLayout {
  @media screen and (min-width: 601px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin: 0;
    z-index: 1;

    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.9) 40%,
      rgba(255, 255, 255, 0) 100%
    );

    padding-top: 15vh;
    padding-bottom: 5vh;

    .copy {
      display: block;
      margin-bottom: 1rem;
      text-align: center;
    }

    .subTitle {
      display: block;
      margin-top: 0.5rem;
      text-align: center;
    }

    .logo {
      width: 400px;
      max-width: 90vw;
      height: 100px;
      align-self: center;
    }
  }
}

.pageLinkContainer.bottomLayoutContainer {
  @media screen and (min-width: 601px) {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    left: auto;
    width: auto;
    height: auto;
    z-index: 2;
  }
}

.link.bottomLayoutLink {
  @media screen and (min-width: 601px) {
    position: relative;
    bottom: auto;
    left: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
    margin: 0;
  }
}
