.main {
  width: 40vw;
  margin: 3rem auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.required {
  color: red;
}

.agreeContainer {
  margin: 0 auto;
}

.selectBox {
  position: relative;
  display: flex;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px; /* チェックボックスとラベルの距離を調整 */
  cursor: pointer;
  user-select: none;
}

.checkbox {
  appearance: none; /* ブラウザのデフォルトスタイルをリセット */
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray); /* 枠線 */
  border-radius: 50%; /* 完全な円にする */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

/* チェックが入ったときのスタイル */
.checkbox:checked {
  background-color: var(--green); /* チェックが入ったときの色 */
  border-color: var(--gray);
}

/* チェックマーク（疑似要素で作成） */
.checkbox:checked::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  clip-path: polygon(14% 44%, 0% 64%, 50% 100%, 100% 20%, 80% 0%, 43% 62%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.note {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px)  and (max-width: 1200px) {
  .main {
    width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  .main {
    width: 90vw;
  }
}
