.leftSideItem {
  width: 10rem;
  min-width: 10rem;
}

.rightSideItem {
  max-width: 70vw;
    p{
    margin-bottom: 0 !important;
    }
}

.jumbotron,
.blockContainer {

  .rightSideItem {
    max-width: 70vw;
    .rightSideItemContarner {
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
    }
  }
  p {
    font-size: 1rem;
    line-height: 2rem;
    max-width: 36rem;
    color: var(---font-gray);
  }
  display: flex;
  gap: 4rem;
}

.item {
  margin-bottom: 5rem;
  max-width: 55vw;
}

.jumbotron {
  margin-bottom: 8rem;

  h2 {
    font-weight: normal;
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
  }
}

.rightSideItem {
  h2 {
    font-weight: normal;
    font-size: 2.3rem;
  }
  h3 {
    font-weight: normal;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}

.fullWidth {
  width: 70vw;
}

.blockContainerColumn{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 8rem 0;
}

.blockContainerColumnMiddle{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.blockContainerColumnNarrow{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blockContainer {
  margin: 0 -5vw;
  padding: 0 5vw ;
  // overflow-x: hidden;

  /* 背景用のブラー */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100vw;
    width: 200vw;
    height: 100%;
    z-index: -1;
    border-radius: 0.5rem;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1.2rem;
  }

  h3 {
    font-weight: normal;
    margin-bottom: 0.4rem;
  }

  section {
    margin-bottom: 5rem;
  }
}


.mlNarrow{
  margin-left: -20px;
}

.mt0{
  margin-top: 0 !important;
}


.segment {
  display: inline-block;
}

.profileContainer {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
  .position {
    width: 5rem;
    font-size: 1rem;
  }
  h2{
    color: var(--black);
    margin-bottom: 0.4rem;
  }
  .description {
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
}

.profileImageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 2rem;
}

.gray {
  padding-top: 8rem;
  padding-bottom: 8rem;
  h1,
  h2,
  h3,
  li,
  p {
    color: black;
  }
  &::before {
    background-color: var(--gray-light);
  }
}

.green {
  padding-top: 8rem;
  h1,
  h2,
  h3,
  li,
  p {
    color: white;
  }
  &::before {
    background-color: var(--green);
  }
}

.innerLinkWrapper {
  width: 20rem;
  max-width: 300px;
  display: inline-block;
  border-radius: 0.5rem;
  border: 1.5px solid #aaa;
  padding: 0.8rem 1rem;
  text-decoration: none;
  margin-top: 1rem;

  p {
    font-weight: 600;
    display: inline;
    color: #333;
    position: relative;
  }

  p::after {
    position: absolute;
    top: 0.2rem;
    right: -1.5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../public/img/svg/arrow-right.svg");
    background-size: contain;
    content: "";
  }
}

.innerLinkWrapper:hover {
  border-color: var(--light-green);
}

.externalLink,
.pdfLink {
  font-weight: 400;
  margin-right: 2rem;
  position: relative;
  text-decoration: none;
  color: black;
  text-underline-position: below;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  transition: all 0.2s ease;
}

.externalLink:hover,
.pdfLink:hover {
  color: var(--light-green);
}

.externalLink::after,
.pdfLink::after {
  position: absolute;
  content: "";
  bottom: 0.1rem;
  right: -1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-size: contain;
}

.pdfLink::after {
  background-image: url("../public/img/svg/pdf-icon.svg");
}

.externalLink::after {
  background-image: url("../public/img/svg/external-link.svg");
}

.headline {
  font-size: 1rem;
  font-weight: 700;
  color: #777;
  margin-bottom: 30px;
  font-weight: normal;
}

.articleCardContainer {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.serviceCardContainer {
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 2rem 0;
}

.list {
  list-style: none;
  margin-top: 2rem;
  li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
  }

  li::before {
    position: absolute;
    content: "";
    top: 0.2rem;
    left: -2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ccc;
  }
}

.commentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.comment {
  border-radius: 5px;
  width: 20rem;
  padding: 2rem;
  background-color: var(--light-gray);
}

.commentUpper {
  width: 20rem;
  padding: 1.2rem;
  border-radius: 5px;
  background-color: var(--green);
  color: white;
}

.commentLower {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  p {
    margin-top: 0.5rem;
    background-color: var(--light-gray);
    padding: 0 1rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
  }
  .profileImage {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: -1rem;
    margin-top: -2rem;
    background-color: var(--light-gray);
  }
}

.comment.bright {
  background-color: white;
  border: 1px solid var(--green);
}

.description {
  margin-bottom: 3rem;
  line-height: 2rem;
}

.serviceCardDescription {
  margin-bottom: 2rem;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  ul{
    margin-bottom: 0.5rem !important;
  }
}

.cardContainer {
  h2 {
    font-size: 1.2rem;
  }
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .card {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 1rem;
    flex-basis: 31%;
    background-color: #E8E8E8;
    h2{
      margin-bottom: 0.2rem;
    }
    p{
      margin-bottom: 0;
      font-size: 0.9rem;
      line-height: 1.6rem;
      color: var(---font-gray);
    }
  }
}

.br{
  display: none;
}

@media screen and (max-width: 1024px) {
  .profileContainer {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    .description {
      line-height: 1.5rem;
    }
  }

  .blockContainer {
    padding: 0rem 5vw ;
    .green,
    .gray {
      padding-top: 0;
    }
    h3{
      font-size: 1.2rem;
    }
  }
    .blockContainerColumn{
    padding: 4rem 0rem;
    gap: 3rem;
    }
    .green{
      padding-top: 5rem;
      padding-bottom: 2rem;
    }
    .gray {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  .list 
    .blockContainer{
    padding-top: 0;
    padding-bottom: 0;
    }

  .jumbotron,
  .blockContainer {
    gap: 0rem;
    flex-direction: column;

    &::before {
    left: -100vw;
    width: 200vw;
    }

    .rightSideItem {
      width: 100%;
      h2{
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 0.9rem;
      line-height: 1.8rem;
    }
    h2{
      margin-bottom: 0.6rem;
    }
  }
  .jumbotron {
    margin-bottom: 100px;
    h2 {
      font-size: 1.5rem;
    }
    p {
      width: 100%;
    }
  }

  .innerLinkWrapper {
    width: 100%;
  }

  .list {
    li {
      font-size: 0.95rem;
      line-height: 1.4rem;
    }

    li::before {
      top: 0.45rem;
      left: -1.4rem;
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  .externalLink {
    font-size: 0.9rem;
  }

  .externalLink::after,
  .pdfLink::after {
    right: -1.3rem;
    width: 1rem;
    height: 1rem;
  }
  .cardContainer {
    h2 {
      font-size: 1rem;
    }
    gap: 0.5rem;
    .card {
      flex-basis: 100%;
      padding: 0.8rem;
      p{
        margin-bottom: 0;
        font-size: 0.8rem;
        line-height: 1.4rem;
      }
    }
    }
  .mlNarrowSp{
    margin-left: 5px;
  }
  .leftSideItem{
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .fullWidth {
    max-width: 100%;
    width: 100%;
  }
    .rightSideItem {
    max-width: 100%;
    width: 100%;
    p {
      font-size: 0.9rem;
      }
    }
  .flexContainer {
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .item {
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .blockContainer {
  padding: 3rem 5vw ;
  }
}
@media screen and (max-width: 600px) {
  .blockContainer{
    min-width: 100% !important;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    section{
      margin-bottom: 3rem;
    }
    .rightSideItem{
    min-width: 100% !important;
    }
    h2{
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
    }
    h3{
      font-size: 1.2rem;
    }
    .card{
      h2{
      font-size: 1.1rem;
      margin-bottom: 0rem;
      }
    }
  }
  .fullWidth {
    max-width: 100%!important;
    min-width: 100%!important;
    width: 100% !important;
  }
  .blockContainerColumn{
      gap: 4rem;
  }
  .blockContainerColumnNarrow{
      gap: 2rem;
  }
  .articleCardContainer {
    gap: 1.5rem !important;
  }
  .mlNarrow{
    margin-left: 0px;
  }
  .jumbotron{
    margin-bottom: 5rem;
    .rightSideItem {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .br{
    display: block;
  }
  .mlNarrowSp{
    margin-left: -12px;
  }
  .blockContainerColumn{
    padding: 5rem 0rem;
  }
  .green{
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  .gray {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .list {
    margin-top: 1rem;
    li{
      font-size: 0.9rem;
    }
    li::before{
      top: 0.4rem;
    }
  }
  .headline{
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }
  .profileContainer{
    gap: 0rem;
  }
  .leftSideItem{
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .cardContainer{
    .card {
      flex-basis: 48%;
      h2{
        font-size: 1.1rem;
        margin-bottom: 0rem;
      }
      p{
        line-height: 1.6;
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .blockContainerColumn{
      gap: 6rem;
  }
}


@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .flexContainer {
  gap: 2rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1550px) {
  .flexContainer {
  gap: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .articleCardContainer {
    flex-wrap: wrap;
    width: 90vw !important;
    max-width: 90vw !important;
    gap: 0.5rem 1.5rem;
  }
  .headline{
    margin-bottom: 1rem;
  }
}
