.jumbotron {
  margin-bottom: 200px;

  h1 {
    font-size: 1rem;
    font-weight: normal;
    color: #aaa;
  }

  h2 {
    font-weight: 300;
    font-size: 5rem;
    margin-bottom: 30px;
  }

  p {
    width: 70%;
  }
}

.articleContainer {
  margin-bottom: 100px;
  .headline {
    font-size: 1.5rem;
    font-weight: 700;
    color: #777;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    font-weight: normal;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1.2rem;
  }

  h3 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 5rem;
  }
}

.articleCardContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.serviceCardContainer {
  overflow-x: auto;
  white-space: nowrap;
}

.list {
  list-style: none;
  margin-top: 2rem;
  li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
  }

  li::before {
    position: absolute;
    content: "";
    top: 0.2rem;
    left: -2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ccc;
  }
}

@media screen and (max-width: 600px) {
  .jumbotron {
    margin-bottom: 100px;
    h2 {
      font-size: 2.5rem;
    }
    p {
      width: 100%;
    }
  }
}
