* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "LineSeedJP";
  src: url("/fonts/LineSeedJP_OTF_Th.woff") format("woff");
  font-weight: 100; /* or "thin" */
  font-style: normal;
}

@font-face {
  font-family: "LineSeedJP";
  src: url("/fonts/LineSeedJP_OTF_Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LineSeedJP";
  src: url("/fonts/LineSeedJP_OTF_Bd.woff") format("woff");
  font-weight: bold; /* 700 */
  font-style: normal;
}

@font-face {
  font-family: "LineSeedJP";
  src: url("/fonts/LineSeedJP_OTF_Eb.woff") format("woff");
  font-weight: 800; /* or "extra-bold" */
  font-style: normal;
}

body {
  background-color: #fafafa;
}
