* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --light-green: #92d7ca;
  --green: #38b69e;
  --blue: #5fb7d6;
  --gray: #d9d9d9;
  --dark-gray: #a9a9a9;
  --light-gray: #f3f3f3;
  --black: #333;
}

body {
  background-color: white;
  transition: all 1s ease;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  li {
    line-height: 1.9rem;
  }
}
