.nav {
  padding-top: 3vh;
  padding-left: 3vw;
  /* background-color: #ddd; */
  height: 100vh;
  display: flex;
  gap: 10rem;
}

.navBottom {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
  .link {
    font-weight: 400;
  }
}

.logo {
  width: 400px;
  height: 100px;
  margin-bottom: 1rem;
  margin-left: -1rem;
  position: relative;
}

.navLink {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.externalLink {
  font-size: 1rem;
  line-height: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.active {
  color: var(--light-green);
  font-weight: normal;
}

.list {
  position: relative;
  list-style: none;
  font-weight: 100;
  transition: all 100ms ease;
}

.list:hover {
  filter: blur(0.5px);
}

@media screen and (max-width: 600px) {
  .nav {
    position: fixed;
    width: 100vw;
    margin: 0;
    padding: 22vh 5vw 0;
    top: 0;
    left: 0;
    transition: all 500ms ease-in-out;
    flex-direction: column;
    gap: 5rem;
  }

  .link {
    font-size: 1.2rem;
    line-height: 1rem;
  }

  .main {
    width: 90vw;
  }

  .logo {
    width: 50vw;
    height: 60px;
    margin: 0;
    display: none;
  }

  .navBottom {
    gap: 0.2rem;
    .link {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
