.main {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  opacity: 1;
  font-family: var(--line-seed);
  transition: opacity 0.3s ease;
}

.header {
  display: flex;
  width: 94vw;
  z-index: 120;
  position: fixed;
  top: 30px;
  right: 3vw;
  justify-content: space-between;
}

.headerLeft {
  width: 200px;
  margin-top: 10px;
  transition: all 500ms ease;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 40px;
}
.headerRight a {
  text-decoration: none;
  color: black;
}

.viewWrapper {
  position: relative;
  width: 100%;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  &:first-child {
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &:not(:first-child):not(:last-child) {
    padding: 5vh 0;
    min-height: 30vh;
  }

  &:last-child {
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
}

.viewPort {
  width: 60vw;
  padding: 0 5vw;
  text-align: left;
}

.footerLinkContainer {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  a {
    color: black;
    text-decoration: none;
  }
}

.stickyFooterLink {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  z-index: 100;
  a {
    color: black;
    text-decoration: none;
  }
}
.footerLink {
  font-size: 1rem;
}

.segment {
  display: inline-block;
  line-height: 3rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 600px) {
  .footerLinkContainer {
    gap: 0rem;
  }
  .viewPort {
    width: 90vw;
    padding: 0 5vw;
  }
  .segment {
    line-height: 2.5rem;
    font-size: 1rem;
  }
  .headerLeft {
    width: 150px;
    z-index: 99;
  }
}

.char {
  display: inline-block;
}
