.main {
  position: fixed; /* 暫定 */
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
  overscroll-behavior-y: none;
  opacity: 1;
  font-family: var(--line-seed);
  transition: opacity 0.3s ease;
}

.header {
  display: flex;
  width: 94vw;
  z-index: 120;
  position: fixed;
  top: 30px;
  right: 3vw;
  justify-content: space-between;
}

.headerLeft {
  width: 200px;
  margin-top: 10px;
  transition: all 500ms ease;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 2rem;
  line-height: 40px;
}
.headerRight a {
  text-decoration: none;
  color: black;
}

.viewWrapper {
  opacity: 0;
}

.viewPort {
  width: 40vw;
  height: 100vh;
  padding: 40vh 5vw;
}

.footerLinkContainer {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  a {
    color: black;
    text-decoration: none;
  }
}
.footerLink {
  font-size: 1rem;
}

.segment {
  display: inline-block;
  line-height: 3rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .footerLinkContainer {
    gap: 0rem;
  }
  .footerLink {
    font-size: 0.5rem;
  }
  .viewPort {
    width: 100vw;
    height: 100vh;
    padding-top: 30vh;
  }
  .segment {
    line-height: 2.5rem;
    font-size: 1rem;
  }
  .headerLeft {
    width: 150px;
    z-index: 99;
  }
}
