.main {
  width: 40vw;
  margin: 15vh 5vw;
  font-family: var(--line-seed);
}

.container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  height: 85vh;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.pageLink {
  text-decoration: none;
  color: black;
  font-weight: 100;
  border-left: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-left: 1rem;
  transition: all ease 0.5s;
}

.pageLink:hover {
  filter: blur(0.5px);
}

.header {
  z-index: 10;
  position: fixed;
  width: 40vw;
  font-size: 1.5rem;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
}

@media screen and (max-width: 600px) {
  .main {
    width: 94vw;
    margin: 5vh 3vw;
  }

  .header {
    width: 94vw;
  }
  .container {
    width: 94vw;
  }
}
