.main {
  width: 40vw;
  margin: 15vh 5vw;
  font-family: "LineSeedJp";
}

.content h2 {
  margin-bottom: 1rem;
  line-height: 3rem;
  border-bottom: 1px solid #ccc;
}

.content p {
  margin-bottom: 1rem;
}

.content a {
  color: #92d7ca;
}

@media screen and (max-width: 600px) {
  .main {
    width: 94vw;
    margin: 10vh 3vw;
  }
}
