.main {
  width: 90vw;
  margin: 0 auto;
}

.headlineContainer {
  height: 70vh;
}

.headline {
  line-height: 70vh;
  font-weight: 400;
  font-size: 3rem;
}

.logo {
  width: 400px;
  height: 100px;
  margin-bottom: 1rem;
  margin-left: -1rem;
  position: relative;
}

.circle {
  position: fixed;
  top: 30px;
  right: 5vw;
  text-align: right;
  background-color: var(--light-green);
  border-radius: 50%;
}

.menuButton {
  display: none;
}

.active {
  color: var(--light-green);
  font-weight: normal;
}

.topicPath {
  display: none;
}

@media screen and (max-width: 600px) {
  .main {
    width: 90vw;
  }

  .headlineContainer {
    height: 50vh;
  }

  .headline {
    line-height: 50vh;
    font-weight: 100;
    font-size: 3rem;
  }

  .logo {
    width: 50vw;
    height: 60px;
    margin: 0;
    display: none;
  }

  .topicPath {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    transition: all 500ms ease-in-out;
  }

  .topicPath p {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: 2.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: white;
    filter: drop-shadow(#ccc 0px 0px 5px);

    color: #858585;
    font-size: 0.8rem;
    line-height: 2.5rem;
  }

  .topicPath a {
    text-decoration: none;
    color: #afafaf;
  }

  .menuButton {
    position: fixed;
    bottom: 50px;
    right: 3vw;
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--light-green);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
  }

  .childrenWrapper {
    margin-top: 90px;
  }
}
