.main {
  width: 90vw;
  margin: 0 auto;
}

.headlineContainer {
  height: 10rem;
}

.headline {
  margin-top: 120px;
  font-weight: 400;
  font-size: 3rem;
}

.logo {
  width: 200px;
  margin-bottom: 1rem;
  margin-left: -1rem;
  position: relative;
}

.header {
  display: flex;
  width: 100vw;
  z-index: 120;
  position: fixed;
  top: 0;
  right: 0;

  padding: 0.5rem 3vw;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  // mix-blend-mode: difference;

  .headerLeft {
    margin-top: 10px;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .headerRight {
    display: flex;
    align-items: center;
    gap: 2rem;
    line-height: 40px;
    a {
      text-decoration: none;
      color: black;
    }
  }

  .navigation {
    a {
      text-decoration: none;
      color: #afafaf;
      padding-right: 0.5rem;
    }
  }
}

.circle {
  position: fixed;
  top: 30px;
  right: 5vw;
  text-align: right;
  background-color: var(--light-green);
  border-radius: 50%;
}

.menuButton {
  display: none;
}

.active {
  color: var(--light-green);
  font-weight: normal;
}

.topicPath {
  display: none;
}

.pageTopSpacer {
  margin-top: 12rem;
}

@media screen and (max-width: 1024px) {
  .headerLink {
    display: none;
  }

  .header {
    .headerLeft {
      width: 150px;
      z-index: 99;
    }
  }

  .headlineContainer {
    height: 80px;
  }

  .headline {
    margin-top: 100px;
    font-size: 2rem;
  }

  .main {
    width: 90vw;
  }

  .logo {
    margin: 0;
  }

  .topicPath {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    transition: all 500ms ease-in-out;
  }

  .navigation {
    display: none;
  }

  .topicPath p {
    display: block;
    margin: 0 auto;
    width: 90vw;
    height: 2.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: white;
    filter: drop-shadow(#ccc 0px 0px 5px);

    color: #858585;
    font-size: 0.8rem;
    line-height: 2.5rem;
  }

  .topicPath a {
    text-decoration: none;
    color: #afafaf;
  }

  .menuButton {
    position: fixed;
    bottom: 50px;
    right: 3vw;
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--light-green);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
  }

  .childrenWrapper {
    margin-top: 90px;
  }

  .pageTopSpacer {
    margin-top: 4rem;
  }
}

.footer {
  padding: 1rem 0;
  margin-top: 4rem;
  border-top: 1px solid #eeeeee;
}

.footerContent {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footerLink {
  text-decoration: none;
  color: #999;
  font-size: 0.75rem;
  padding: 0.25rem 0;
  transition: color 0.2s ease;

  &:hover {
    color: #666;
  }
}

.footerOrganization {
  color: #999;
  font-size: 0.75rem;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0.5rem 5vw;
  }
  .footer{
    padding-bottom: 4rem;
  }

  .footerContent {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .footerLinks {
    gap: 1rem;
  }
  .pageTopSpacer {
    margin-top: 5rem;
  }
  .main {
    width: 86vw;
  }
}

@media screen  and (min-width: 1025px) and (max-width: 1200px) {
  .pageTopSpacer {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 1600px) {
  .main{
    width: 70vw;
  }
}

@media screen  and (min-width: 600px) and (max-width: 1200px) {
  .footer{
    padding-bottom: 4rem;
  }
}