.leftSideItem {
  width: 6rem;
  min-width: 6rem;
}
.rightSideItem {
  max-width: 70vw;
    p{
    margin-bottom: 0 !important;
    }
}
.fullWidth {
  width: 70vw;
}

.insertImageWrapper {
  width: 32vw;
  min-width: 32vw;
  max-width: 32vw;
  height: auto;
  aspect-ratio: 4/3;
  position: relative;
  img{
    object-fit: cover !important;
  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  ul{
    margin-bottom: 0.5rem !important;
  }
}

.jumbotron {
  p {
    font-size: 1rem;
    line-height: 1.8rem;
    max-width: 32rem;
  }
  display: flex;
  gap: 4rem;
}

.blockContainerColumn{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 13rem 0;
}

.blockContainerColumnNarrow{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.blockContainer {
  p {
    font-size: 1rem;
    line-height: 1.8rem;
    max-width: 32rem;
  }
  display: flex;
  gap: 10rem;
}

.jumbotron {
  p{
  margin-bottom: 0 !important;
  }
  h2 {
    font-weight: normal;
    font-size: 2.3rem;
    margin-bottom: 30px;
  }
}


.blockContainer {
  margin: 0 -5vw;
  padding: 6rem 5vw ;
  // overflow-x: hidden;

  h2 {
    font-weight: normal;
    margin-bottom: 1.2rem;
  }

  h3 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 5rem;
  }
}

.segment {
  display: inline-block;
}

.serviceTitle {
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 24vw;
}

.profileContainer {
  display: flex;
  gap: 4rem;
  margin-bottom: 5rem;
  .position {
    width: 5rem;
    font-size: 0.8rem;
  }
  .description {
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
}

.gray {
  padding-top: 200px;
  h1,
  h2,
  h3,
  li,
  p {
    color: black;
  }
  &::before {
    background-color: var(--gray);
  }
}

.green {
  padding-top: 200px;
  h1,
  h2,
  h3,
  li,
  p {
    color: white;
  }
  &::before {
    background-color: var(--green);
  }
}


.innerLinkWrapper {
  width: 20rem;
  max-width: 60vw;
  display: inline-block;
  border-radius: 0.5rem;
  border: 1.5px solid #aaa;
  padding: 0.8rem 1rem;
  text-decoration: none;
  margin-top: 1rem;

  p {
    font-weight: 600;
    display: inline;
    color: #333;
    position: relative;
  }

  p::after {
    position: absolute;
    top: 0.2rem;
    right: -1.5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../public/img/svg/arrow-right.svg");
    background-size: contain;
    content: "";
  }
}

.innerLinkWrapper:hover {
  border-color: var(--light-green);
}

.externalLink,
.pdfLink {
  font-weight: 400;
  margin-right: 2rem;
  position: relative;
  text-decoration: none;
  color: black;
  text-underline-position: below;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  transition: all 0.2s ease;
}

.externalLink:hover,
.pdfLink:hover {
  color: var(--light-green);
}

.externalLink::after,
.pdfLink::after {
  position: absolute;
  content: "";
  bottom: 0.1rem;
  right: -1.5rem;
  width: 1.3rem;
  height: 1.3rem;
  background-size: contain;
}

.pdfLink::after {
  background-image: url("../public/img/svg/pdf-icon.svg");
}

.externalLink::after {
  background-image: url("../public/img/svg/external-link.svg");
}

.headline {
  font-size: 1rem;
  font-weight: 700;
  color: #777;
  margin-bottom: 30px;
  font-weight: normal;
}

.articleCardContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}

.serviceCardContainer {
  overflow-x: auto;
  white-space: nowrap;
}

.list {
  list-style: none;
  margin-top: 2rem;
  li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    position: relative;
  }

  li::before {
    position: absolute;
    content: "";
    top: 0.4rem;
    left: -2rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #ccc;
  }
}

.description {
  margin-bottom: 3rem;
  line-height: 2rem;
}

.cardContainer {
  h2 {
    font-size: 1.2rem;
  }
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .card {
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 1rem;
    flex-basis: 31%;
    h2{
      margin-bottom: 0.2rem;
    }
    p{
      margin-bottom: 0;
      font-size: 0.9rem;
      line-height: 1.6rem;
      color: var(---font-gray);
    }
  }
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    .description {
      line-height: 1.5rem;
    }
  }

  .rightSideItem {
    max-width: 100%;
  }

  .insertImageWrapper {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .jumbotron,
  .blockContainer {
    gap: 1rem;
    flex-direction: column;
    .rightSideItem {
      width: 100%;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .jumbotron {
    margin-bottom: 2rem;
    h1 {
      font-size: 2.2rem;
    }
    p {
      width: 100%;
    }
  }

  .innerLinkWrapper {
    max-width: 60vw;
    min-width: 140px;
    padding: 0.6rem 0.8rem;
  }

  .list {
    li {
      font-size: 0.95rem;
      line-height: 1.4rem;
    }

    li::before {
      top: 0.45rem;
      left: -1.4rem;
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  .externalLink {
    font-size: 0.9rem;
  }

  .externalLink::after,
  .pdfLink::after {
    right: -1.3rem;
    width: 1rem;
    height: 1rem;
  }
  .flexContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .fullWidth {
    min-width: 100%;
  }
.cardContainer {
  h2 {
    font-size: 1rem;
  }
  gap: 0.5rem;
  .card {
    flex-basis: 100%;
    padding: 0.8rem;
    p{
      margin-bottom: 0;
      font-size: 0.8rem;
      line-height: 1.4rem;
    }
  }
  }
  .blockContainerColumn{
    gap: 4rem;
    padding: 3rem 0;
  }
  .headline{
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
  }
  .list {
    margin-top: 1rem;
    li{
      font-size: 0.9rem;
    }
    li::before{
      top: 0.4rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .serviceTitle {
    width: 100%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .jumbotron {
    margin-bottom: 3rem;
    flex-direction: column;
    gap: 2rem;
    p{
      margin-bottom: 1rem;
    }
  }
  .flexContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .cardContainer{
    .card {
      flex-basis: 48%;
    }
  }
  .insertImageWrapper {
    width: 80%;
    min-width: 80%;
    max-width:  80%;
  }
  .blockContainer{
    padding: 3rem 5vw ;
  }
  .fullWidth,
  .rightSideItem {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .insertImageWrapper {
    width: 35vw;
  }
  .flexContainer {
  gap: 2rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1550px) {
  .insertImageWrapper {
    width: 40vw;
    min-width: 40vw;
    max-width:  40vw;
  }
  .flexContainer {
  gap: 2rem;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1600px) {
  .insertImageWrapper {
    width: 42vw;
    min-width: 42vw;
    max-width:  42vw;
  }
}